#*.txt
**/log*
**/logs
**/*.log
out
**/node_modules
**/rough
**/package.json
**/package-lock.json
**/chrome_113
**/ss
**/browsermob-proxy
**/archive
**/*.wprgo
**/wpr_data
**/*.xlsx
**/*.pyc
**/*.json
**/__pycache__
**/proxy/data
**/*.tar.gz
**/xlsx
**/data_1000
**/blacklists
**/strippeddownblacklist.txt
**/path_ss
**/json_time
**/*.png
